<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cedrique's Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="member">

  <a href="{{ url_for('profile') }}" class="back-button">Back</a>

  <div class="moving-bg">
    <div class="row"><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span></div>
    <div class="row"><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span></div>
    <div class="row"><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span></div>
    <div class="row"><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span></div>
    <div class="row"><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span></div>
    <div class="row"><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span><span>CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE CEDRIQUE </span></div>
  </div>

  <div class="container fade-in">
    <div class="rectangle"></div>
    <div class="vertical-line"></div>

    <div class="main-image">
      <img src="{{ url_for('static', filename='images/orbista.png') }}" alt="Character Image">
      <img src="{{ url_for('static', filename='images/orbista.gif') }}" alt="GIF Animation" class="hover-gif">
    </div>

    <img src="{{ url_for('static', filename='images/paint.png') }}" alt="Paint Splatter" class="splatter">

    <div class="text-big">CEDRIQUE</div>
    <div class="text-small"><i>ORBISTA</i></div>
    <div class="adjective-big">FRONT-END</div>
    <div class="text-contracts">CONTRACTS:</div>
    <div class="text-contacts">CONTACTS:</div>
    <div class="vertical-line"></div>
    <div class="text-fighting-style">FIGHTING STYLE:</div>

    <div class="bullet-contracts">
      <ul>
        <li><a href="{{ url_for('queue_page') }}?from=ced">Queue Line</a></li>
        <li><a href="{{ url_for('deque_page') }}?from=ced">Deque Line</a></li>
        <li><a href="{{ url_for('postorder_page') }}?from=ced">Binary Tree</a></li>
        <li><a href="#" target="_blank">Works</a></li>
      </ul>
    </div>

    <div class="bullet-contacts">
      <ul>
        <li>
          <a href="https://github.com/CedDesu" target="_blank">
            <img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub" class="icon">
              GitHub
          </a>
        </li>
        <li>
          <a href="#">
            <img src="{{ url_for('static', filename='images/gmail.png') }}" alt="Email" class="icon">
              Email
          </a>
        </li>
      </ul>
    </div>

    <div class="bullet-fighting-style">
      <ul>
        <li><a href="#">About Me</a></li>
        <li><a href="#">See More</a></li>
      </ul>
    </div>
  </div>

  <div class="loading-screen">
          <!-- RANDOM TIPS -->
    <div class="title">
      <h1 class="loadfont" id="randText">Loading...</h1>
    <script src="script.js"></script></div>

    <div class="loading-content">
      <div class="loading-spinner"></div>
  </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
