<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DEQUITO</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/member_profile_style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Back Button -->
  <a href="{{ url_for('profile') }}" class="back-button">Back</a>
  <!-- Moving background layer -->
<div class="moving-bg">
  <div class="row"><span>AERON AERON AERON AERON AERON </span><span>AERON AERON AERON AERON AERON </span></div>
  <div class="row"><span>AERON AERON AERON AERON AERON </span><span>AERON AERON AERON AERON AERON </span></div>
  <div class="row"><span>AERON AERON AERON AERON AERON </span><span>AERON AERON AERON AERON AERON </span></div>
  <div class="row"><span>AERON AERON AERON AERON AERON </span><span>AERON AERON AERON AERON AERON </span></div>
  <div class="row"><span>AERON AERON AERON AERON AERON </span><span>AERON AERON AERON AERON AERON </span></div>
  <div class="row"><span>AERON AERON AERON AERON AERON </span><span>AERON AERON AERON AERON AERON </span></div>
</div>


  <div class="container fade-in">
    <div class="rectangle"></div>

    <div class="main-image">
      <img src="{{ url_for('static', filename='images/img2.jpg') }}"
           alt="Character Image"
           style="width: 100%; display: block;">
    </div>

    <img src="{{ url_for('static', filename='images/paint.png') }}"
         alt="Paint Splatter"
         class="splatter">

    <div class="text-big">AERON</div>
    <div class="text-small"><i>DEQUITO</i></div>
    <div class="adjective-big">FEMBOY LOVER</div>
    <div class="text-contracts">CONTRACTS:</div>
    <div class="text-contacts">CONTACTS:</div>
    <div class="vertical-line"></div>
    <div class="text-fighting-style">FIGHTING STYLE:</div>
<div class="bullet-contracts"><u>
  • Amongus<br>
  • About<br>
  • Services<br>
  • Contact
  </u>
</div>
<div class="bullet-contacts"><u>
  • GITHUB<br>
  • Email<br>
  • Number<br>  
  </u>
</div>
<div class="bullet-fighting-style"><u>
  • Python<br>
  • Judo<br>
  </u>
</div>
  </div>


    <!-- Loading Screen -->
  <div class="loading-screen">
    <div class="loading-content">
      
      <div class="loading-spinner"></div>
    </div>
    
    <script src="{{ url_for('static', filename='javascript/profile_javascript.js') }}"></script>
  

</body>
</html>
