<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IAN Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="member">

  <a href="{{ url_for('profile') }}" class="back-button">Back</a>

  <div class="moving-bg">
    <div class="row"><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span></div>
    <div class="row"><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span></div>
    <div class="row"><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span></div>
    <div class="row"><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span></div>
    <div class="row"><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span></div>
    <div class="row"><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span><span>RAFAEL RAFAEL RAFAEL RAFAEL RAFAEL </span></div>
  </div>

  <div class="container fade-in">
    <div class="rectangle"></div>
    <div class="vertical-line"></div>

    <div class="main-image">
      <img src="{{ url_for('static', filename='images/rafael.png') }}" alt="Character Image">
      <img src="{{ url_for('static', filename='images/rafael.gif') }}" alt="GIF Animation" class="hover-gif">
    </div>

    <img src="{{ url_for('static', filename='images/paint.png') }}" alt="Paint Splatter" class="splatter">

    <div class="text-big">RAFAEL</div>
    <div class="text-small"><i>SILORIO</i></div>
    <div class="adjective-big">"BIG MAN"</div>
    <div class="text-contracts">CONTRACTS:</div>
    <div class="text-contacts">CONTACTS:</div>
    <div class="vertical-line"></div>
    <div class="text-fighting-style">FIGHTING STYLE:</div>

    <div class="bullet-contracts">
      <ul>
        <li><a href="#">Works</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">Works</a></li>
        <li><a href="#">Works</a></li>
      </ul>
    </div>

    <div class="bullet-contacts">
      <ul>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Email</a></li>
        <li><a href="#">Number</a></li>
      </ul>
    </div>

    <div class="bullet-fighting-style">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">See More</a></li>
      </ul>
    </div>
  </div>

  <div class="loading-screen">
    <div class="loading-content">
      <div class="loading-spinner"></div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
