<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JAMES Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="member">

  <a href="{{ url_for('profile') }}" class="back-button">Back</a>

  <div class="moving-bg">
    <div class="row"><span>JAMES JAMES JAMES JAMES JAMES </span><span>JAMES JAMES JAMES JAMES JAMES </span></div>
    <div class="row"><span>JAMES JAMES JAMES JAMES JAMES </span><span>JAMES JAMES JAMES JAMES JAMES </span></div>
    <div class="row"><span>JAMES JAMES JAMES JAMES JAMES </span><span>JAMES JAMES JAMES JAMES JAMES </span></div>
    <div class="row"><span>JAMES JAMES JAMES JAMES JAMES </span><span>JAMES JAMES JAMES JAMES JAMES </span></div>
    <div class="row"><span>JAMES JAMES JAMES JAMES JAMES </span><span>JAMES JAMES JAMES JAMES JAMES </span></div>
    <div class="row"><span>JAMES JAMES JAMES JAMES JAMES </span><span>JAMES JAMES JAMES JAMES JAMES </span></div>
  </div>

  <div class="container fade-in">
    <div class="rectangle"></div>
    <div class="vertical-line"></div>

    <div class="main-image">
      <img src="{{ url_for('static', filename='images/james.png') }}" alt="Character Image">
      <img src="{{ url_for('static', filename='images/james.gif') }}" alt="GIF Animation" class="hover-gif">
    </div>

    <img src="{{ url_for('static', filename='images/paint.png') }}" alt="Paint Splatter" class="splatter">

    <div class="text-big">JAMES</div>
    <div class="text-small"><i>OROZCO</i></div>
    <div class="adjective-big">BACK-END</div>
    <div class="text-contracts">CONTRACTS:</div>
    <div class="text-contacts">CONTACTS:</div>
    <div class="vertical-line"></div>
    <div class="text-fighting-style">FIGHTING STYLE:</div>

    <div class="bullet-contracts">
      <ul>
        <li><a href="{{ url_for('queue_page') }}">Queue Line</a></li>
        <li><a href="{{ url_for('deque_page') }}">Deque Line</a></li>
        <li><a href="#" target="_blank">Works</a></li>
        <li><a href="#" target="_blank">Works</a></li>
      </ul>
    </div>

    <div class="bullet-contacts">
      <ul>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Email</a></li>
        <li><a href="#">Number</a></li>
      </ul>
    </div>

    <div class="bullet-fighting-style">
      <ul>
        <li><a href="#">About Me</a></li>
        <li><a href="#">See More</a></li>
      </ul>
    </div>
  </div>

  <div class="loading-screen">
    <div class="loading-content">
      <div class="loading-spinner"></div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
