<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Queue</title>
  <!-- removed {{ url_for('static', filename='styles.css') }} in href-->
  <link rel="stylesheet" href=""> 
</head>
<body>
    <h1>Queue Line</h1>

    <form action="/enqueue_head" action="/enqueue_left" method="post">
        <input type="text" name="user_enqueue" placeholder="Enter item" required>
        <button type="submit">Enqueue Behind</button>
        <button type="submit">Enqueue Ahead</button>
    </form>

    <form action="/dequeue_right" method="post">
        <button type="submit">Dequeue Ahead</button>
    </form>

    <form action="/dequeue_tail" method="post">
        <button type="submit">Dequeue Behind</button>
    </form>

    <form action="/clear_dob_queue" method="post">
        <button type="submit">Clear Queue</button>
    </form>


    <div class="queue_line">
        <h3>Queue Line:</h3>
        {% if dequeue_line %}
            {% for item in dequeue_line %}
                <div class="item">{{ item }}</div>
            {% endfor %}
        {% else %}
            <p>The queue is empty.</p>
        {% endif %}
    </div>
</body>
</html>



@website.route('/clear_dob_queue', methods=['POST'])
def clear_dob_queue():
    dequeue_line.clear()
    return redirect(url_for('dob_queue'))
