<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WDNBITS: DSA Edition</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <h1 class="title">
                <span class="top">The</span>
                <span class="main">WDNBITS™</span>
                <span class="sub">DSA Edition</span>
            </h1>
            <button id="startButton" class="press-start">PRESS ANY BUTTON</button>
            <footer>
                <p>© 2025 WDNBITS<br>
                    Original Game: WDNBITS<br>
                    Characters: WDNBITS<br>
                </p>
                <p class="tagline">Nakasisigurong gamot ay laging bago.</p>
            </footer>
        </div>
        <script>
            window.flashImages = [
              "{{ url_for('static', filename='images/ruzzel_creepy_pasta.jpg') }}"
            ];
            window.screamSound = "{{ url_for('static', filename='sounds/scream2.mp3') }}";
        </script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
