<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Works</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container fade-in">
    <h1 class="title">wORKS</h1>

  <div class="grid">
    <ul>
        <li>
          <a href="/queue" style="color:#9cf1ff; text-decoration:none; margin-top:50px; display:inline-block;">
        ← Queue
          </a>
      </li>
      <li>
        <a href="/deque" style="color:#9cf1ff; text-decoration:none; margin-top:50px; display:inline-block;">
        ← DEqueue
        </a>
      </li>
      </ul>
  </div>


    <footer>
      <ul>
        <li>
          <a href="/profile" style="color:#9cf1ff; text-decoration:none; margin-top:50px; display:inline-block;">
        ← Back to profile
          </a>
      </li>
      <li>
        <a href="/" style="color:#9cf1ff; text-decoration:none; margin-top:50px; display:inline-block;">
        ← Back to Title
        </a>
      </li>
      </ul>
    </footer>
  </div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</body>
</html>