<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Binary Search Tree</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <a href="{{ url_for('main.profile_member', name=from_page) }}" class="back-button">Back</a>
        <div class="bt-container">
            <h2>Binary Search Tree</h2>
            <div class="traversal-display">
                <p>Display</p>
            </div>
            <div class="binary-tree">
                <div class="bt-flex">
                    <div id="treeWrapper">
                        <canvas id="treeCanvas" width="900" height="500"></canvas>
                        <img id="easterEggImg" src="">
                    </div>
                    <div class="binary-tree-buttons">
                        <input id="valueInput" type="text" placeholder="Input Value" />
                        <button onclick="resetTree()">Reset Tree</button>
                        <button onclick="insertNode()">Insert Node</button>
                        <button onclick="deleteNode()">Delete</button>
                        <button onclick="search()">Search</button>
                        <button onclick="inorderTraversal()">In-order Traversal</button>
                        <button onclick="preorderTraversal()">Pre-order Traversal</button>
                        <button onclick="postorderTraversal()">Post-order Traversal</button>
                        <button onclick="maxValue()">Find Max Value</button>
                        <button onclick="findHeight()">Find Height</button>
                    </div>
                </div>
                <div id="selectedDisplay">Selected Node: None</div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/binary-search-tree.js') }}"></script>
    </body>
</html>